:root {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    --secondary-text-color: #383838;
    --secondary-background-color: #e2e2e2;
    --link-color: #007aff;
}

@media (prefers-color-scheme: dark) {
    :root {
        --secondary-text-color: #c7c7c7;
        --secondary-background-color: #171717;
        --link-color: #0a84ff;
    }
}

body {
    max-width: 500px;
    margin: auto;
    text-align: center;
    padding: 20px 40px 0px 40px;
    line-height: 1.5
}

code {
    font-family: "Menlo", monospace;
    background-color: var(--secondary-background-color);
    color: var(--secondary-text-color);
    display: inline-block;
    border-radius: 6px;
    padding: 4px;
}

img {
    border-radius: 50%;
    margin: auto;
    display: block;
    width: 70%;
    padding: 20px 0px 20px 0px;
}

a {
    color: var(--link-color);
}

a:link, a:visited, a:active {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
